<table class="table table-responsive table-striped">
  <thead>
    <th>Picture</th>
    <th>Full Name</th>
    <th>phone nuber</th>
    <th>address</th>
    <th>last visit</th>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
      <td><%=image_tag profile.image, :size => "320x240"  %></td>
      <td><%= link_to "#{profile.first_name} #{profile.last_name}", profile_path(profile) %></td>
      <td><%= profile.phone_number %></td>
      <td><%= profile.address %></td>
      <td>faf</td>
    <% end %>
    </tr>
  </tbody>


</table>
