<%= simple_form_for [@post, @comment],remote: true,role: 'form' do |f| %>
  <div class="form-group">
  <%= f.input :content, as: :string, class:'form-control', label: false, require: true %>
  </div>
  <%= f.button :submit, class:'ntm btn-default' %>
<% end %>
