<div>
  <div class="panel panel-default chat">
      <div class="panel-heading" id="accordion">
            <svg class="glyph stroked two-messages">
              <use xlink:href="#stroked-two-messages"></use>
            </svg> Chat with <%= @other_user.email %>
      </div>
      <div class="panel-body">
          <% if @chat.messages.any? %>
            <div id="messages">
                <ul>
                    <%= render partial: 'messages/message', collection: @dd, as: :message%>
                </ul>
            </div>
          <%else%>
            <div id="messages">
            </div>
          <%end%>
      </div>
  </div>
  <%= render 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>


<script>
  createMessageChannel();
  // app/assets/javascripts/channels/messages.js
  messageForm();
  // app/assets/javascripts/messages_form.js
</script>
