<div class="row header-blog"></div>
  <div class="container show-post-blog">
    <div class="row">
     <div class="col-lg-8 content-page">
      <h6>To find out if weight loss surgery is the right decision, review the information below</h6>
      <lu>
        <li>Genetic</li>
        <li>Food Addiction</li>
        <li>Availability & marketing of hyperpalatable foods</li>
        <li>Diet & lifestyledfdfs</li>
      </lu>
      <p >>According to <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4039587/"> National Center for Biotechnology Information</a> The prevalence of obesity in Gulf Countries among children and adolescents ranges from 5% to 14% in males and from 3% to 18% in females. In adult females there is a significant increase of obesity with a prevalence of 2%–55% and in adult males 1%–30% in countries of gulf region.</p>
      <p >>The confluence of several factors has led to the rise of obesity across the country and the rest of the developed world. They include…</p>
      <lu>
        <li>Obesity and genetics: hunger-inducing hormones along with the weight our bodies naturally “want” to be, also known as the Metabolic Set Point Theory</li>
        <li>Food addiction: When the need for food leads someone to desire and pursue it over other reasonable considerations such as personal health, family, friends, work, or strong personal desires like appearance or avoiding obesity related health issues like diabetes. Click here to take the Food Addiction Quiz to find out if you may be addicted to food.</li>
        <li>The prevalence and marketing of unhealthy and hyperpalatable food choices</li>
        <li>Our demanding, time-strained lifestyle</li>
        <li>Our choices (intentionally last on the list)</li>
      </lu>
      <h6>You’re here, which says that you’re sick and tired of the effects that obesity can have…</h6>
      <lu>
        <li>Obesity health problems</li>
        <li>Food Addiction</li>
        <li>Depression</li>
        <li>Out of breath quickly</li>
        <li>Obesity discrimination</li>
        <li>Failed diet and exercise programs</li>
      </lu>
      <p >>Bariatric surgery will most likely eliminate or improve each of these. But before we learn together whether surgery is right for you, it is important to understand that bariatric surgery is not for everyone. Even if you fit the profile below, surgery should always be the treatment of last resort.
      </p>
      <p >>If you and your bariatric doctors decide that it makes sense to move forward, be prepared to do a LOT of work both before surgery and for the rest of your life. Bariatric surgery should be thought of as one of the most effective tools available, but in order to succeed you must be ready to completely change your life. </p>
      <h6>Ready to figure this out? Okay, let’s get started… <h6>
      <ol>
        <li>three attempts to reduce weight by non-surgical methods, such as diet and sports, The duration of each trial is 3 months and under the supervision of specialists as dietitian and sports coach.</li>
        <li>The patient's body mass exceeds 40 points with no negative and satisfactory effects of obesity.</li>
        <li>
When there are negative effects and chronic illness due to obesity, diabetes, infertility and chronic arthritis, Then we intervene surgically with a lower body mass (35 points), Weight loss by surgical intervention may help 80% of healing or alleviation of chronic diseases.</li>
      </ol>
      <h6>Objectives of surgical intervention</h6>
      <ol>
        <li>Weight loss</li>
        <li>Achieving the best weight loss (ideal weight).</li>
        <li>The patient enjoys good physical and psychological health during the weight loss journey.</li>
        <li>Healing of chronic diseases with the descent of weight.</li>
        <li>maintain the weight After surgery</li>
      </lo>
    </div>
    <!-- <div class="col-lg-4"> -->
      <!-- <div class="well"></div> -->
    </div>
  </div>
</div>
