
<div class="row header-blog"></div>
<div class="container show-post-blog">
  <div class="row">
    <% if params[:locale] === "en" %>
      <ol>
        <li>Eat six healthy meals a day</li>
        <p>The main reason behind that is that the patient reaches satiety and fullness in consuming a very small portion of food, Therefore, it is necessary to repeat meals so that the patient can get an adequate amount of fluids and food during the day. Usually these six meals is equivalent to quarter of what the the patient used to consume before the surgery.Therefore we recommend that the patient take a small healthy meal every two hours. </p>
        <li>Must be drink first and after that eating</li>
        <p>
          Small stomach can’t handle the consumption of liquids and solids at the some time. Therefore, it is recommended that the patient start each meal by drinking first and then after a few minutes begins to eat. For example, breakfast begins with drinking a glass of milk and after 5 to 10 minutes the patient start eating cheese and eggs and others.
        </p>
        <li>Must be committed to healthy diet or healthy eating</li>
        <p>
          In other words, the addiction of the patient to eat high-calorie such as sweets, chocolate and ice cream will end in the patient Restoring lost weight and Malnutrition Because of the lack of intake of the essential nutrients of the body of proteins and essential oils and minerals and vitamins, fibers and liquids.Therefore, we recommend the diversity of food types and non-addiction to one food type.The rule that all types of food are recommended without excessive in the intake of one type of food.
        </p>
        <li>Eating should be appropriate for small stomach</li>
        <li>Commitment to vitamins and supplements</li>
        <p>
          patients have to commit to take vitamins daily for at least a full year after surgery. Patients after surgery are Prone to lack of vitamins, minerals and salts for several reasons, the most important of which is he small amount of food consumed by the patients daily after the surgery Compared to the amount of food consumed before surgery and the inefficient activation of some minerals and salts and vitamins are completely deficient to acidic stomach acid after surgery,such as iron, calcium, and vitamin B12 and therefore compensate for the lack of vitamin pills

        </p>
        <li>Commitment to periodic inspections</li>
        <p>
          It is usually recommended that these tests take place after 6 months and also after each year of the procedure.To ensure that there is no shortage of micro-nutrients such as vitamins, salts, minerals and proteins.
        </p>
        <li>Commitment to exercise on a daily basis</li>
        <ol>
          <li>Increase fat burning </li>
          <li>strengthening and maintaining the basic mass of the body, muscles and bones</li>
          <li>Tightening the skin and reducing the laxation especially for young people.</li>
          <li>
Improve the mental state of the patient.</li>
          <li>Reducing weight in an efficient way. Patients who are committed to exercise after surgery usually reduces their body weight by 30% more efficient than non active patients. It is recommended for patients to start exercising gradually after the surgery So that joints, muscles and ligaments are not affected by a bad injury </li>
        </ol>
          <li>Follow-up</li>
          <p>
            The goal is to follow up on the health situation, especially the rate of weight loss, As well as follow up on the lab results and analysis to avoid problems of lack of micro nutrients.It is recommended to follow up after two weeks of the operation and after three and six months of the operation and annually.
          </p>
          <li>
Pregnancy is prohibited for one to one and a half years after the procedure</li>
          <p>
            Pregnancy is not recommended until the weight stabilizes and the patient improves his drinking and eating. and blood and vitamins test are normal.Contraception is not recommended for pregnant women, especially after three to six months after the procedure, in order to avoid strokes.
          </p>
      </ol>
      <h3>Long-term complications</h3>
      <ol>
        <li>Malnutrition:</li>
        <p >

        </p>
        <li>Hair loss:</li>
        <p>
          Hair loss is a manifestation of malnutrition and lack of micro nutrients, especially iron, zinc and proteins.
          Adherence to instructions, especially healthy nutrition and vitamins reduces the severity of hair loss.
        </p>
        <li>Sagging</li>
        <p >>
          Sagging after weight loss due to lack of mass of fat and grease down the skin.The areas that usually get affected by Sagging are the abdomen, thighs, arms, and face
        </p>
        <li>Kidney stones and gallbladder</li>
        <p >
          The direct cause of kidney stones and gallbladder is the lack of fluid intake.Because of the rapid descent of weight increases the secretions of the body of salts and fats which the body get rid of it through urine and yolk it increases its concentration in urine and yolk
          And therefore begin deposition in the form of crystals and stones with urinary tract and gall bladder.

        </p>
        <li>Acidity, burning and reflux</li>
        <p >
          patients after surgery 23% suffers from acidity, burning and reflux and tha main reason is ncrease the pressure inside the stomach to three times what it was before cutting the stomach
        </p>
      </ol>
      <h3>Short-term complications (during the first month of operation):</h3>
      <p >
        post surgery short-term complications caused by the surgery are highly unlikely and may effect the life of the patient however it's highly unlikely it will occur
      </p>
      <ol>
        <li>Thrombosis</li>
        <p >
          The main cause of the stroke after surgical intervention is lack of fluid intake and lack of movement.The less of fluid intake the more Blood viscosity which leads to a stroke and also with less movement it reduces the blood flow through the veins in the leg, which helps the clot.
        </p>
        <li>Pneumonia</li>
        <p >
          due to the pain after the surgical intervention,The patient might finds it difficult to take deep breath, so the lang doesn't extaned fully which make you vulnerable to pneumonia.To avoid ipneumonia, the patient must work hard to open and extend the entire  lung and we reach this through:
          <ul>
            <li>Breathe deeply using the respirator (at least ten times per hour).</li>
            <li>Walk as much as possible with walking the lung extends to meet the need of the body for oxygen Thus the patient avoids pneumonia.The patient is required to walk for at least a quarter of an hour  </li>
            <li>Regular use of painkillers, which reduces pain and helps the patient to breathe deeply, which avoids the patient, contraction and pneumonia.</li>
          </ul>
        </p>
        <li>Infusion:</li>
        <p >
          Unfortunately, infusion is the biggest concern of all patients and may be a major cause of many patients' reluctance to the surgery.There is no obvious reason for the leak, which may be due to lack of perfusion and blood flow to the tissues and may be due to high pressure in the stomach due to the twisting of the cavity or the wall of the stomach and may be due to obstruction of the stomach with solid food.The incidence of infusion is low and varies from center to center but generally not more than 2% and by adding stitching of the stomach wall after stapling, the infusion rate decreased to less than 0.2%.The time of leakage is usually from the end of the first week after the operation to the end of the fourth week and usually the risk of leakage disappears after 3 months of the operation.
        </p>
        <h4>signs of infusion:</h4>
        <p >acute pain continues on the left side of the upper abdomen and spread to the back and left shoulder the pain is accompanied with Throbbing and and increase in pulse rate
        <h3>What should the patient do in the event of these symptoms or doubt:</h3>
        <p >Is to communicate with the treated medical team and if he can not contact him, he must go directly to the emergency department of the hospital to assess his condition.</p>
        </p>
        <li>Hemorrhage:</li>
        <p >
          Bleeding from the place of surgical intervention is one of the complications that may be exposed to the patient after the surgery while it occurs rarely.The incidence of hemorrhage increases in patients with high blood pressure and Diabetics, including the treatment of blood clots such as aspirin and Balafex.Patients with a higher risk of hemorrhage should therefore be sure to treat high pressure.Patients should be more likely to have hemorrhagic fever. Check for high blood pressure and diabetes prior to surgical intervention and prevent ingestion of blood clots at least one to 10 days prior to surgery.
        </p>
      </ol>
    <% else %>
    <h3>إلتزامات ما بعد العملية ( التكميم ):</h3>
      <ol>
        <li> تناول ست وجبات صحية يوميا :</li>
        <p > والسبب أن المريض يصل للشبع و الامتلاء بكمية قليلة جدا" من الأكل فى الوجبة الواحدة , ولذلك فلابد من تكرار الوجبات حتى يتسنى للمريض الحصول على كمية مناسبة من السوائل و الغذاء خلال اليوم وعادة فإن تلك الست وجبات تعادل ربع ما يتناوله المريض قبل التدخل الجراحى.ولذلك ننصح بأن يتناول المريض وجبة صحية صغيرة كل ساعتين تقريبا.</p>
        <li> لابد من الشرب ثم الأكل :</li>
        <p >فالمعدة صغيرة و لا تتسع للشرب و الأكل معا , و كذلك لا تتحمل الأكل ثم الشرب مباشرة . و لذلك ننصح بأن يبدأ  المريض كل وجبة بالشرب أولا  ثم بعد دقائق قليلة يبدأ بالآكل فمثلا يبدأ الإفطار بشرب كوب من الحليب ثم بعد 5 إلى 10 دقائق يبدأ المريض بتناول وجبة الإفطار من جبن و بيض وغيره.</p>
        <li> لابد من الالتزام بالحمية  الصحية أو الأكل الصحى:</li>
        <p >بمعنى أخر  إدمان المريض لأكل عالي السعرات كالحلويات و الشوكولاتة و الآيس كريم سينتهي بالمريض  أولا إلى استعادة ما فقده من وزن وثانيا وهو الأسوأ هو إصابة المريض بسوء التغذية بسبب   عدم تناول ما يحتاجه الجسم من عناصر غذائية أساسية من بروتينات و زيوت أساسية و أملاح و معادن و فيتامينات و ألياف و سوائل.ولذلك ننصح بتنوع الأكل وعدم الإدمان على نوع واحد من الأكل لسهولته أو لحب تناوله.</p>
        <p >القاعدة أن كل أنواع الأكل ينصح بتناولها و بدون إفراط بنوع معين كالحلويات أو تقصير بما هو صحي كالخضروات و السلطات و الفاكهة.</p>
        <li> لابد أن يكون الأكل مناسب للمعدة الصغيرة:</li>
        <p >بمعنى أخر أن أغلب  المأكولات الصلبة , خاصة التى تحتوى على الألياف مثل السلطات و الخضروات و الفاكهة و اللحوم والخبز و الأرز يصعب هضمها بعد عملية التكميم .  فالأطعمة و المأكولات الغنية بالألياف تحتاج إلى مكوث وقت أطول في المعدة حتى تتحول من الحالة الصلبة إلى السائلة, وعلى عكس الحلويات و السكريات و التى تذوب بالفم و تمر بسهولة بالمعدة.  فالقليل من تلك المأكولات الغنية بالألياف تعطى المريض الإحساس السريع بالشبع و التخمة و امتلاء المعدة فيتوقف المريض عن تناولها, علما بأنها مغذية و أساسيه لذلك ينصح بأن  يتناول مريض التكميم كميات كبيرة منها لأنها غنية بالعناصر الغذائية الأساسية, لذا وجب على المريض أن يقوم بجعلها أقل صلابة و أكثر ليونة.
        أمثلة على ذلك:
      </p>
      <p >اللحم خاصة الأحمر منه , غنى بالبروتينات و الحديد , و لصلابته و كثرة الألياف به يصعب هضمه بعد التكميم, فينصح بأن يؤخذ اللحم بعد التكميم  مفروما و مطهي جيدا و يمزج مع أكل لين كالجريش و السليق أو الأدام اللين.
      </p>
      <p >
        الفاكهة غنية بالأملاح و المعادن و الفيتامينات و الألياف وعادة تكون سهلة الهضم بالمضغ الجيد و لكن بكميات صغيرة , حتى نتناول كميات كبيرة منها تؤخذ على شكل كوكتيل فيوضع بالخلاط عدة أنواع منها , مثلا الموز و التفاح و البرتقال و الفراولة  مع الحليب و الماء و العسل ثم نقوم بخفقها بالخلاط  جيدا حتى تصبح فى حالة سائلة ثم تشرب .
      </p>
      <p >
        أيضا الخضروات تقطع إلى قطع صغيرة ثم يضاف لها اللحم المفروم و التوابل و المرق والماء وبعد السلق و الطهى الجيد يخفق جميعا بالخلاط حتى تصبح شوربة خضار سائلة  و يشرب كشوربة خضار و بذلك يستطيع مريض التكميم من أخذ كمية كبيرة من الخضروات و البروتينات  بشكل سائل تتحمله معدة المتكمم .
وكذلك  السلطات تقطع إلى قطع صغيرة و تؤخذ كالتبولة بزيت الزيتون
      </p>
        <li>الألتزام بتناول الفيتامينات و المكملات الغذائية :</li>
        <p >
          لابد من المتكمم أن يلتزم بتناول الفيتامينات يوميا على الأقل لمدة سنة كاملة. فالمتكمم عرضة لنقص الفيتامينات و المعادن و الأملاح لعدة أسباب أهمها قلة كمية الأكل التي يتناولها المتكمم يوميا مقارنة بكميات الأكل قبل التكميم و عدم كفاءة تنشيط بعض المعادن والأملاح و الفيتامينات بشكل كامل لنقص حمض المعدة بعد التكميم مثل الحديد و الكالسيوم و فيتامين باء 12 و لذلك يعوض ذلك النقص بتناول حبوب الفيتامينات و الأملاح و المعادن بشكل يومى حتى يتجنب التعرض لمشاكل سوء التغذية .
        </p>
        <li>الالتزام بعمل فحوصات دورية:</li>
        <p >
          للتأكد من عدم وجود نقص بالعناصر الغذائية الدقيقة كالفيتامينات و الأملاح و المعادن و البروتينات. و عادة ما ننصح بأن تجرى تلك الفحوصات بعد 6 أشهر و كذلك بعد كل سنة من إجراء العملية .
        </p>
        <li>الألتزام بممارسة الرياضة بشكل يومي :</li>
        <p > وتكمن أهمية الالتزام بممارسة الرياضة بشكل يومى فى الآتى : </p>
        <ol>
          <li>ستهلاك المخزون العإلى من الطاقة (الدهون) و زيادة حرق الطاقة</li>
          <li>الحفاظ على الكتلة الأساسية للجسم  و تقويتها وهى العضلات و العظام. فبعد عملية التكميم و قلة تناول الطعام بشكل مفاجئ, يبدأ الجسم لتوفير الطاقة اللازمة له بتحليل ليس فقط الدهون و لكن العضلات و العظام فتضعف و يقل حجم الكتلة الأساسية للجسم من عضلات و عظام. ولذا أغلب مرضى السمنة بعد عمليات السمنة يعاني من ضعف القوة العضلية للجسم و نقص كثافة العظام. و هنا يأتى أهمية التغذية الصحية التى تمد العضلات  بالبروتينات اللازمة و العظام  بالأملاح كالكالسيوم و بممارسة الرياضة يقوم الجسم بإنتاج محفزات تبني و تقوي العضلات و العظام , فالمحصلة النهائية بممارسة الرياضة تقل كتلة الدهون و تقوى وتزداد كتلة العضلات و العظام.</li>
          <li>شد الجلد و الحد من الترهلات خاصة للشباب.</li>
          <li>تحسن الحالة النفسية للمريض.</li>
          <li> نزول وزن أفضل , فالمريض الممارس للرياضة ينعم بنزول وزن الجسم  بنسبة 30% أكثر من المريض غير الممارس للرياضة.
            عادة يتم ممارسة الرياضة تدريجيا" حتى لا تتأثر المفاصل و العضلات و الأربطة بسوء أو إصابة.
            بعد العملية  مباشرة ينصح بالمشي مع كل صلاة حوالي ربع ساعة و بالتدريج حتى نصل إلى ساعة مشي متواصل  مرة يوميا.
            بعد التعافى و النقاهة من العملية وزوال آلام الجروح  و القدرة على المشى ساعة متواصلة يوميا" , ننصح بعدها بالرياضة التى لا تؤثر بشدة على المفاصل كالسباحة و ركوب الدراجة الثابتة و التمارين الخفيفة.
            بعد نزول 30-50% من الوزن الزائد ننصح بالرياضة الأعنف تدريجيا" و يفضل أن تكون تحت إشراف مدرب مختص.
            </li>
        </ol>
        <li>هدف هو إمكانية المتابعة للحالة الصحية و خاصة معدل نزول الوزن  و بدون تأخير. و كذلك متابعة نتائج التحاليل لتجنب مشاكل نقص العناصر الغذائية الدقيقة.  و ينصح بالمتابعة بعد أسبوعين من العملية و بعد ثلاثة و ستة شهور من العملية و سنويا.</li>
        <li> ممنوع الحمل لمدة سنة الي سنة و نصف بعد العملية: </li>
        <p> ممنوع الحمل لمدة سنة الي سنة و نصف بعد العملية: </p>
      </ol>
      <h4>مضاعفات على المدى البعيد ومن أهمها : </h4>
      <ol>
        <li>سوء التغذية:</li>
        <p >فكما تم ذكره من قبل أن كمية الأكل بعد عملية التكميم تقل بشدة تصل إلى ربع كمية ما كان يأكله المريض قبل العملية و عادة ما يجد المريض صعوبة بتناول الأكل الصلب, مما يعرض المريض لنقص كثير من العناصر الأساسية الغذائية كالحديد و الكالسيوم و البروتينات و الزيوت الأساسية و الفيتامينات بمختلف أنواعها , مما يعرض المريض إلى أمراض سوء التغذية بعد  العملية . وأمثلة على ذلك مرض فقر الدم أو الأنيميا بسبب نقص معدن الحديد. مرض هشاشة العظام بسبب نقص فيتامين دال أو ملح الكالسيوم , مرض العشى الليلي بسبب نقص فيتامين ألف.
لذا وجب على المريض الالتزام بما سبق ذكره من تعليمات غذائية لتجنب أمراض سوء التغذية</p>
        <li> تساقط الشعر:</li>
        <p >  تساقط الشعر مظهر من سوء التغذية و بسبب نقص العناصر الغذائية الدقيقة خاصة الحديد و الزنك و البروتينات. الالتزام بالتعليمات وخاصة التغذية الصحية و الفيتامينات يقلل من شدة تساقط الشعر.</p>
        <li>الترهل:</li>
        <p >
                    يصيب المريض الترهل بعد نزول الوزن بسبب نقص كتلة الدهون و الشحوم أسفل الجلد.
          وعادة ما يصيب الترهل جلد البطن و الأفخاذ و الأذرع (الزنود) و الوجه.
          و تختلف شدة الترهل من مكان لآخر و من مريض لأخر.
          وتعتمد على أماكن تجمع (كثرة) الدهون و كتلة الجسم وعمر المريض و ممارسة الرياضة.
          على سبيل المثال المريض ذو الكرش الكبير و كتلة جسم كبيرة و غير ممارس للرياضة و عمره فوق الأربعين سنة , عادة ما يعاني من ترهل بجلد البطن بعد نزول وزنه و عادة ما يحتاج لعملية شد واستئصال الجلد الزائد للبطن بعد ثبات وزنه.
          المريض دون العشرين عام عادة ما تكون آثار الترهل أقل لما يتمتع به الجلد من حيوية و ليونة.
          كذلك المريض الممارس للرياضة خاصة السباحة يعانى من ترهل أقل و ذلك لنمو الكتلة العضلية و بالتالي يصحبها شد الجلد و ترهل أقل.
        </p>
        <li>حصوات الكلى و المرارة :</li>
        <p >>لسبب المباشر لتكون حصوات الكلى و المرارة هو قلة شرب السوائل.
        فبسبب نزول الوزن بسرعة يزيد إفرازات الجسم من أملاح و دهون والتي يتخلص منها الجسم عن طريق البول و الصفار فيزداد تركيزها بالبول و الصفار و بالتالي تبدأ بالترسب على شكل بلورات و حصوات بالمجارى البولية و المرارة.
        وبشرب الماء و السوائل بكثرة يقل تركيز تلك الإفرازات و يقل معها حدوث الحصوات بإذن الله.
        </p>
        <li>الحموضة و الحرقان و الارتجاع :</li>
            <p >عاني مرضى التكميم من الحموضة و الحرقان و الارتجاع بنسبة تصل إلى 23%.
            السبب الرئيسى هو زيادة الضغط داخل المعدة إلى ثلاثة أضعاف ما كان عليه قبل قص المعدة .
            و لذلك قد يحتاج بعض مرضى التكميم من الاستمرار لمدة طويلة على مضادات الحموضة .
            و لتقليل الحموضة إن وجدت فعلى المريض شرب الماء و السوائل بكثرة لتخفيف حدة حمض المعدة و دفع الحمض للإثني عشر و الأمعاء.
          </p>
      </ol>
      <h3>مضاعفات على المدى القريب (خلال الشهر الأول من إجراء العملية) :</h3>
      <p >مضاعفات المدى القريب هى الأخطر وقد تؤثر على حياة المريض و إن كان نسبة حدوثها ضئيلة , والهدف من ذكر تلك المضاعفات هى أن يعمل المريض جاهدا على تجنبها.</p>
      <ol>
        <li>:الجلطة:</li>
        <p >  السبب الرئيسى للجلطة هو قلة شرب السوائل و قلة الحركة بعد التدخل الجراحى.
          فبقلة شرب السوائل تقل السوائل بالدورة الدموية و يزداد لزوجة الدم مما يعرض المريض لحدوث الجلطة.
          وبقلة المشى و الحركة يقل سرعة تدفق الدم عبر الأوردة بالساق مما يساعد فى حدوث الجلطة.
          لذلك وجب على المريض مكافحة الجلطة بعد العملية بالشرب الدائم و الوصول للارتواء و المشى قدر المستطاع و أيضا بالالتزام بإبر مضادات التجلط لمدة أسبوعين بعد التدخل الجراحى</p>
          <li>إلتهاب الرئة:</li>
          <p >
            بسبب الألم بعد التدخل الجراحى يجد المريض صعوبة فى التنفس بعمق , و بالتالي عدم تمدد الرئة الكامل و انكماشها , مما يجعلها عرضة للإتهاب .
            و لتجنب الإلتهاب لزم على المريض العمل بجد على فتح وتمديد كامل للرئة , ونصل إلى ذلك ب:
            التنفس بعمق باستخدام جهاز التنفس (عشر مرات كل ساعة على الأقل).
            المشى على قدر المستطاع طوال اليوم , فمع المشى تتمدد الرئة لتلبى حاجة الجسم من الأكسجين و بذلك يتجنب المريض بإذن الله انكماش و إلتهاب الرئة , ويطلب من المريض المشى ربع ساعة على الأقل مع كل صلاة.
            تناول المسكنات بشكل منتظم مما يخفف الألم و يساعد المريض على التنفس بعمق مما يجنب المريض بإذن الله انكماش و إلتهاب الرئة.
          </p>
        <li>التسريب:</li>
        <p >
          لأسف التسريب هو الشاغل الأكبر لكل مرضى التكميم, و قد يكون سبب رئيسى لإحجام كثير من المرضى عن العملية بسبب الاعتقاد الخاطئ أن نسبته عالية و ينتهى بالوفاة لا قدر الله.
          سبب التسريب؛ لا يوجد سبب واضح للتسريب  فقد يكون السبب نقص التروية ووصول الدم للأنسجة , وقد يكون السبب ارتفاع الضغط داخل المعدة بسبب إلتواء بتجويف أو جدار المعدة , و قد يكون بسبب إنسداد المعدة بأكل صلب.
        </p>
          <p>
            نسبة حدوث التسريب قليلة و يختلف من مركز إلى آخر و لكن عامة لا تزيد عن 2%.
            و الحمد لله بإضافة خياطة جدار المعدة بعد التدبيس خفت نسبة التسريب إلى دون 0.2%
            وقت حدوث ألتسريب عادة من نهاية الأسبوع الأول بعد العملية إلى نهاية الأسبوع الرابع و عادة تختفى خطورة التسريب بعد مرور 3 شهور من العملية.
            ما يجب على المريض عمله لتجنب التسريب هو الإلتزام بالحمية خلال فترة إلتئام جدار المعدة , والتى يتدرج فيها المريض من السوائل الشفافة (الأسبوع الأول) إلى السوائل بسماكة الحليب (الأسبوع الثانى) إلى السوائل
          </p>
          <p>
            بسماكة اللبن (الأسبوع الثالث) إلى الأكل اللين بسماكة الزبادي (للأسبوع الرابع) إلى الأكل اللين و الصلب كالسليق و الجريش (الأسبوع الخامس) ثم الأكل المهروس (الأسبوع السادس).
            مما يعطى فترة كافية لإلتئام جدار المعدة بدون الضغط عليها بشئ صلب.
            أيضا على المريض تجنب الأدوية المثيرة لجدار المعدة كالأسبرين و مشتقاته و التدخين و الكحوليات خلال فترة إلتئام جدار المعدة , لما لها من أثر سلبي على جدار المعدة.
          </p>
          <h3>من علامات التسريب : </h3>
          <p>آلام مبرحة مستمرة بالجهة اليسرى من أعلى البطن و تنتشر إلى الظهر و الكتف الأيسر و يصاحب الألم خفقان و سرعة النبض وسرعة دقات القلب ثم تدريجيا" يبدأ الإحساس بالإعياء و التعب والوهن و المرض الشديد ثم سرعة التنفس و ضيق التنفس و أخيرا الحمى.
          </p>
          <p><span>*ماذا يجب على المريض عمله فى حال حدوث تلك الأعراض أو الشك فيها :</span> هو التواصل مع الفريق الطبى المعالج و إن تعذر الاتصال فعليه الحضور مباشرة إلى قسم الطواريء بالمستشفى لتقييم وضعه.
          </p>
        <li>النزيف:</li>
          <p>
            لنزيف من مكان التدخل الجراحى هو أحد المضاعفات التى قد يتعرض لها المريض بعد العملية و إن كان حدوثه نادرا و الحمد لله.
            و يزداد نسبة حدوث النزف عند مرضى إرتفاع ضغط الدم و مرضى السكرى ومنهم على علاج مسيلات الدم كالأسبرين و البلافكس.
            لذا وجب على المرضى أكثر عرضة للنزف التأكد من علاج ارتفاع الضغط و السكري قبل التدخل الجراحي و كذلك منع تناول مسيلات الدم على الأقل بأسبوع إلى عشرة أيام قبل العملية.
          </p>
      </ol>
    <% end %>
    <!-- Blog Post Content Column -->
    <!-- <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <div class="well"></div>
    </div> -->
  </div>
</div>
