<div class="row header-blog"></div>
  <div class="container show-post-blog">
    <div class="row">
     <div class="col-lg-8 content-page">
       <h3>Thanks</h3>
    </div>
    </div>
  </div>
</div>
