<div class="row header-blog"></div>
<div class="container show-post-blog">
  <div class="row">
    <% if params[:locale] === "en" %>
    <h4>7 TYPES OF WEIGHT LOSS SURGERY</h4>
    <p>There are 7 types of weight loss surgery (also called “bariatric surgery”) available, including:</p>
    <lu>
      <li><span>Gastric Sleeve - </span> feel less hungry & full sooner while eating</li>
      <li><span>Gastric Bypass - </span> feel full sooner while eating & absorb fewer minerals</li>
      <li><span>Duodenal Switch - </span> feel less hungry & full sooner while eating, absorb fewer calories and minerals</li>
      <li><span>LAP-BAND - </span> feel full sooner while eating</li>
      <li><span>Gastric Balloon – </span>temporarily feel full sooner while eating (balloon removed after 6 months)</li>
      <li><span>vBloc Therapy – </span> feel full between meals & less hungry while eating</li>
      <li><span>AspireAssist – </span>drain a portion of stomach contents after eating</li>
    </lu>
    <p>
      As explained above, there are many surgical procedures for the treatment of obesity, indicating that there is no ideal process for all patients with obesity, The more complicated the process, the greater the side effects in the short and long term.The stomach belt for example is less complicated, and has fewer side effects in the short and long term but less successful in weight loss.
    </p>
    <p>
      The type of surgical intervention is chosen based on several factors like, the patient's mass, the patient's health status, patient's age, patient's desire, and physician's experience.
    </p>

    <h6>Why They Work & How They’re Performed</h6>
    <lu>
      <li>Gastric Sleeve</li>
      <img style="size: 50px" src="../assets/gastric_sleeve.jpg">
      <h6>Why Gastric Sleeve Works</h6>
        <ul>
          <li>Reduced stomach size makes the patient feel full sooner after eating</li>
          <li>Removed portion of the stomach means fewer hunger-causing hormones are secreted, causing patient to feel less hungry generally</li>
        </ul>
      <h6>How Gastric Sleeve Is Performed</h6>
      <p>Gastric sleeve surgery, also called the Vertical Sleeve Gastrectomy (VSG), is performed by removing a large portion of the stomach to create a long pouch that connects the esophagus to the small intestine. The pouch is stapled and the rest of the stomach is removed. Some surgeons take an additional step to reinforce the staple line, although whether that is effective is up for debate.</p>
      <iframe width="420" height="315"
        src="https://www.youtube.com/embed/l3eQLJymr6Y">
      </iframe>
      <li>Gastric Bypass</li>
      <img style="size: 50px" src="../assets/gastric_bypass.jpg" >
      <h6>Why Gastric Bypass Works</h6>
      <lu>
        <li>Reduced stomach size makes the patient feel full sooner after eating</li>
        <li>Rearranged intestines causes the body to absorb fewer minerals</li>
        <li>Dumping syndrome symptoms deter patients from eating unhealthy foods</li>
      </lu>
      <h6>How Gastric Bypass Is Performed</h6>
      <p>Gastric bypass, also called Roux-en-Y gastric bypass or RNY for short, is performed using the following steps:</p>
      <lu>
        <li>Cut and staple the top portion of the stomach to create a small pouch at the end of the esophagus</li>
        <li>Leave the remainder of the stomach attached to the top of the small intestines</li>
        <li>Go further down the small intestine, cut it, and attach it to the pouch</li>
        <li>Take the end of the small intestine that is still connected with the non-pouch portion of the stomach and attach it to the bottom of the “Roux limb.” This allows the digestive juices produced by the stomach to “meet up” with the food in the intestines.</li>
      </lu>
      <iframe width="420" height="315"
        src="https://www.youtube.com/embed/l4vREUUv9Lw">
      </iframe>
      <li>Duodenal Switch (DS)</li>
      <img src="../assets/duodenal_switch.jpg">
      <h6>Why the Duodenal Switch Works</h6>
      <lu>
        <li>Reduced stomach size makes the patient feel full sooner after eating</li>
        <li>Removed portion of the stomach means fewer hunger-causing hormones are secreted, causing patient to feel less hungry generally</li>
        <li>Rearranged intestines causes the body to absorb fewer calories and minerals</li>
      </lu>
      <h6>How the Duodenal Switch Is Performed</h6>
      <p>More formally known as the Biliopancreatic Diversion with Duodenal Switch, the DS surgeon starts with a gastric sleeve to reduce the stomach size, then rearranges the intestines to reduce the amount of calories the body can absorb.</p>
      <p>Here are the steps:</p>
      <lu>
        <li>A large portion of the stomach is removed to create a banana-shaped pouch connecting the esophagus to the top of the small intestine (just like a gastric sleeve).</li>
        <li>The top of the small intestine is cut, but the surgeon leaves part of the duodenum, the top part of the small intestine where most chemical digestion occurs, attached to the stomach.</li>
        <li>The surgeon then cuts the small intestine several feet down. The part that is still attached to the large intestine (colon) is connected to the duodenum.</li>
        <li>The loose part of the small intestine (the part that wasn’t just attached to the stomach) is then attached to the small intestine so the digestive juices it creates can mix with the food coming from the stomach.</li>
      </lu>
      <iframe width="420" height="315"
        src="https://www.youtube.com/embed/Sdks7Muv9LE">
      </iframe>
      <li>LAP-BAND</li>
      <img style="size: 50px;"src="../assets/duodenal_switch.jpg" >
      <h6>Why LAP-BAND Surgery Works</h6>
      <p>A band wraps around and squeezes a narrow section in the upper-middle part of the stomach. This creates a smaller stomach “section” above the band which fills up quicker after eating, causing the patient to feel full sooner and eat less.</p>
      <h6>How LAP-BAND Surgery Is Performed</h6>
      <p>The LAP-BAND, also called the gastric band or laparoscopic adjustable gastric band, has been used in Europe since the 90’s but wasn’t approved by the FDA in the States until 2001.</p>
      <p>The gastric band surgery procedure involves the sewing of a silicone and Silastic band around the top of the stomach. A balloon around the inner surface of the band (imagine the inside of a bicycle tire) is connected to a tube that leads to a half-dollar-sized port above the abdominal muscles but below the skin.</p>
      <p>During follow up visits, your doctor will add or remove saline solution (salt water) to make it tighter or looser. The tighter it is, the less hungry you feel and vice-versa.</p>
      <iframe width="420" height="315"
        src="https://www.youtube.com/embed/5_Ef-2CBwk0">
      </iframe>
      <li>vBloc Therapy</li>
      <img src="../assets/vbloc-therapy.jpg" >
      <h6>Why vBloc Therapy Works</h6>
      <p>Implanted device periodically blocks the vagal nerve and prevents it from delivering hunger signals to the brain, making you feel full between meals and full sooner after smaller meals.</p>
      <h6>How vBloc Device Implantation Is Performed</h6>
      <p>
        Your surgeon will implant the vBloc Therapy device below your rib cage just under the skin. She will then attach the device to your vagal nerve, just above the stomach, via two leads (wires). The whole procedure usually takes between 60 and 90 minutes.
      </p>
      <iframe width="420" height="315"
        src="https://www.youtube.com/embed/TRGcQQQCBuk">
      </iframe>
      <li>Gastric Balloon</li>
      <img src="../assets/gastric-balloon.jpg">
      <h6>Why the Gastric Balloon Works</h6>
      <p>An inflated balloon in the stomach leaves less room for food and causes patients to feel full sooner and eat less.</p>
      <h6>How the Gastric Balloon Is Inserted</h6>
      <p>The gastric balloon procedure is performed as follows:</p>
      <lu>
        <li>Surgeon numbs throat using a spray</li>
        <li>Patient may receive a sedative</li>
        <li>Plastic mouth guard is inserted in patient’s mouth for the scope to pass through</li>
        <li>Scope is passed through mouth and into stomach</li>
        <li>Scope is removed and balloon is passed into patient’s stomach</li>
        <li>Balloon is inflated with air or saline solution (depending on balloon type)</li>
        <li>Scope is passed into stomach again to confirm proper balloon positioning</li>
        <p>Since it usually must be removed within 6 months, the balloon is only a temporary solution intended to “jump start” a long-term, medically-supervised diet and exercise program.</p>
      </lu>
      <li>AspireAssist Device</li>
      <h6>Why the AspireAssist Works</h6>
      <p>A tube similar to a feeding tube is inserted into the stomach and attached to a port on the outside of the abdomen. A device is then attached to this port and used to drain a portion of the stomach’s contents before digestion.</p>
      <iframe width="420" height="315"
        src="https://www.youtube.com/embed/fioJ80dKa2I">
      </iframe>
    </lu>
    <% else %>
    <h4>٧ أنواع لعمليات فقدان الوزن</h4>
    <p>هناك 7 أنواع من جراحة فقدان الوزن (وتسمى أيضا "جراحة البدانة")وهم:</p>
    <lu>
      <li> <span>تدبيس المعدة -</span> </li>
      <li></li>
      <li></li>
      <li></li>
      <li> <span>حزام المعده -</span> </li>

    </lu>
    <% end %>
    <p>كما سبق شرحه يوجد العديد من العمليات الجراحية لعلاج السمنة وذلك يدل على أنه لا توجد عملية مثالية لكل مرضى السمنة، وكلما زادت العملية تعقيدا زاد معها آثارها الجانبية على المدى القصير والبعيد.
فمثلا حزام المعدة أقل العمليات الجراحية تعقيدا وأقلها آثار جانبية على المدى القصير والبعيد ولكنها أقل نجاحا فى تنزيل الوزن والحفاظ على تنزيل الوزن.</p>
<p>
يتم اختيار نوع التدخل الجراحى أو العملية بناء على العديد من العوامل منها كتلة المريض و الحالة الصحية للمريض و عمر المريض و رغبة المريض و خبرة الطبيب .
</p>
<h6>ما المقصود بعمليه تدبيس المعدة؟</h6>
<p >
  فى تلك العملية يقوم الجراح باستئصال ثلثى المعدة تقريبا رأسيا ليترك للمريض الثلث فقط , ولكن سعة الجزء المتبقى حوإلى 10% من السعة الكلية للمعدة و ذلك لكون الجزء المتبقى عضلى و أقل سعة و مرونة من الجزء المستأصل. فإن اعتبرنا أن سعة المعدة تصل من لتر ونصف إلى لترين فإن الجزء المتبقى سعته لا تزيد عن 150 سم.
</p>
<img style="size: 50px" src="../assets/gastric_sleeve.jpg">
<p>
  يتم استئصال قبة المعدة مع الجزء المستأصل و هو الغنى بخلايا تفرز هرمون فاتح الشهية (الجرلين) و المحصلة النهائية باستئصال المعدة  (التكميم)هو ضعف الشهية و صغر حجم الوجبة الواحدة  و بالتإلى الحد من  كمية الطاقة التى يأخذها الإنسان عن طريق الفم , و التى تكون أقل من الاحتياجات اليومية لجسم الإنسان و لذلك يقوم الجسم بسد بقية حاجته من الطاقة بما لديه من مخزون  الدهون لديه.
</p>
<iframe width="420" height="315"
  src="https://www.youtube.com/embed/l3eQLJymr6Y">
</iframe>
<p>
  تأثير التدخل الجراحى فى نزول الوزن هو تأثير مؤقت  بمعنى آخر أن التدخل الجراحي يساعد فى نزول الوزن إلى وقت محدود فعادة يبلغ أعلى نسبة نزول وزن  فى الشهور الأولى بعد العملية (3-6 شهور) و تقل تدريجيا إلى أن يثبت الوزن  بعد سنة إلى سنة و نصف بعد العملية , فإذا لم يحافظ المريض على ما وصل إليه من نزول وزن وذلك  بالعودة إلى إساءة استخدام الطاقة مرة أخرى باستهلاك طعام عالي السعرات كالحلويات و عدم المحافظة على حرق تلك السعرات العالية  بالرياضة  يبدأ زيادة الوزن و السمنة بالعودة تدريجيا.
</p>
    <!-- <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <div class="well"></div> -->
    </div>
  </div>
</div>
