<div class="row header-blog"></div>
<div class="container show-post-blog">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <div class="well"></div>
    </div>
  </div>
</div>
