<footer id="footer" class="bg-color3 footer" data-selector="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-push-6 text-right">
        <ul class="soc-list">
          <li><a href="#" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a></li>

        </ul>
      </div>
      <div class="col-md-2">
          <a class="goto top-arrow" href="#intro-half-left-3"></a>
      </div>
      <div class="col-md-5 col-md-pull-8 ">
        <!-- <img class="logo" src="images/footer-logo.png" alt="" data-selector="img"> -->
        <span class="editContent">© 2015 Select<br>Designed by <a href="http://uppercaseyvr.com/" target="_blank">Uppercase</a></span>
      </div>
    </div>
  </div>
</footer>
