

		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
      <% if current_user === "admin" %>
          <li class="active"><a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
          <li><a href="tables.html"><i class="fa fa-user-md" aria-hidden="true"></i> Doctors</a></li>
          <li><a href="tables.html"><i class="fa fa-user-md" aria-hidden="true"></i> Patients</a></li>
          <li><a href="tables.html"><i class="fa fa-rss" aria-hidden="true"></i> Blogs</a></li>
          <li><a href="tables.html"><i class="fa fa-users" aria-hidden="true"></i> Profiles</a></li>
          <li><a href="tables.html"><i class="fa fa-comments" aria-hidden="true"></i> Chats</a></li>

      <% elsif current_user === 'dr' %>
          <li class="active"><a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
          <li><a href="tables.html"><i class="fa fa-users" aria-hidden="true"></i> Profile</a></li>
          <li><a href="tables.html"><i class="fa fa-rss" aria-hidden="true"></i> Blogs</a></li>
          <li><a href="tables.html"><i class="fa fa-comments" aria-hidden="true"></i> Chats</a></li>
          <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Patients</a></li>

      <% else %>
          <li class="active"><a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
          <li><a href="tables.html"><i class="fa fa-users" aria-hidden="true"></i> Profile</a></li>
          <li><a href="tables.html"><i class="fa fa-comments" aria-hidden="true"></i> Chats</a></li>
      <% end %>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<!-- <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li> -->
		</ul>
		<!-- <div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/><a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a></div> -->
